.mainList {
    color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;    
    font-weight: bold;
}

.mainList .item {
    color: coral;
}

#welcome {
    color: rgb(38, 28, 111);
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.intro {
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}