.mainList {
    color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 35px;
}

.mainList .item {
    color: coral;
    font-family: Arial, Helvetica, sans-serif;
}